{% extends 'repository/base.html' %}

{% block content %}
    {% if user.id != dir.user.id %}
        <div style="text-align: center">
            <h2>No tens autorització per accedir a aquesta pàgina</h2>
        </div>
    {% else %}
        <a href="{% url 'repository:dir_admin' client.directory.id %}">
            <h1 style="font-size: 45px; text-align: center ">{{ client.directory.name }}</h1>
            <br>
        </a>
        <div>
            <div style="width: 49%; float: left">
                <h3>Credencials del client {{ client.key_words }}:</h3>
                <br>
                {% if client.credentials %}
                    <img src="{{ client.credentials.url }}" alt="Credentials image"
                         style="float: left; width: 90%; margin-right: 1%; margin-bottom: 0.5em;">
                {% else %}
                    <h4>El client no té les credencials actualitzades</h4>
                    <br>
                {% endif %}
            </div>
            <div style="width: 49%; float: right">
                <h3>Inicis de sessió del client {{ client.key_words }}:</h3>
                <br>
                {% if attempts %}
                    {% for a in attempts %}
                        <div>
                            <p style="border-style: groove; font-size: 20px; float: left; text-align: center; width: 75%">
                                Intent del {{ a.time|date:'d-m-Y H:M:s' }} </p>

                            <a class="btn btn-outline-primary" style="vertical-align: center; height: 35px"
                               href="{% url 'repository:attempt_detail' a.id %}">Veure intent</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <br>
                        <h4>Encara no s'ha fet cap intent d'inici de sessió.</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}