{% extends 'repository/base.html' %}

{% block content %}
    <h3>Afegeix una imatge del teu document acreditatiu, aquest document l'hauràs de tindre a mà sempre que vulguis
        accedir:</h3>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="exampleFormControlInput1" class="form-label">
            El document de de contenir el teu rostre </label><br>
        <input type="file" id="credentials" name="credentials" accept="image/*"/>
        <div class="text-center">
            <input type="submit" class="btn btn-success col text-center" style="text-align: center"/>
        </div>
    </form>

{% endblock %}